/*
===============================
       Font Imports
===============================
 */

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../resources/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
===============================
       Page Properties
===============================
 */

body {
    background-color: #001220;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    animation: scroll-up 2s alternate;
    color: white;
    font-family: roboto_condensedbold, serif;
}

.page-wrapper {
    margin-top: -50px;
    height: 4664px;
    background-image:url("../resources/background.png");
}

/*
===============================
    Common Section Properties
===============================
 */

.section {
    width: 100vw;
    height: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding-inline: 50px;
}

.page-title {
    font-size: 75px;
}

.page-text {
    margin-top: -50px;
    font-size: 36px;
}

/*
===============================
            404
===============================
 */

.err-left {
    animation: slide-right 3.5s alternate;
    margin-bottom: 150px;
}

.err-right {
    width: 500px;
    height: 500px;
}

/*
===============================
       Custom Animations
===============================
 */

@keyframes scroll-up {
    from {
        transform: translateY(-75%);
        overflow: hidden;
    }

    to {
        transform: translateY(0%);
        overflow: hidden;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
