/*
===============================
       Font Imports
===============================
 */

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../resources/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
===============================
       Page Properties
===============================
 */

html {
    scroll-behavior: smooth;
}

body {
    background: #a9f1fc;
    margin: 0;
    overflow-x: hidden;
    animation: scroll-up 2s alternate;
    color: white;
    font-family: robotoregular, serif;
    font-size: 15px;
}

.page-wrapper {
    /*
    background-size: cover;
    background-image: url("../resources/bg.svg");
    background-repeat: no-repeat;
     */
    height: 3500px;
    width: 100vw;
}

/*
===============================
      Header properties
===============================
 */

.header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 60px;
    transition: height 0.25s ease-in-out;
}

.header:hover {
    height: 60px;
}

.logo {
    background-image: url("../resources/logo.svg");
    background-repeat: no-repeat;
    position: fixed;
    left: 25px;
    height: 35px;
    width: 35px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.nav-item {
    list-style-type: none;
    font-family: 'roboto_condensedbold', Serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.nav-item:hover {
    color: #424242;
}


/*
===============================
    Common Section Properties
===============================
 */

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 875px;
    color: black;
    gap: 50px;
}

.section-block {
    margin-top: 25vh;
    width: 33vw;
}

.page-title {
    font-size: 36px;
}

.page-text {
    font-size: 18px;
}

.userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.form-input {
    background-color: rgba(50,50,50,50%);
    border-style: none;
    width: 300px;
    height: 25px;
    border-radius: 25px;
    padding-inline: 10px;
    font-size: 15px;
    transition: color 0.25s ease-in-out;
}

.input-label-combi {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.form-button {
    background: transparent;
    border: black solid 2px;
    border-radius: 25px;
    width: 125px;
    height: 35px;
    font-family: roboto_condensedbold, serif;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}



/*
===============================
            Home
===============================
 */

.home-left > .page-title{
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: black;
}

.home-left {
    animation: slide-right 2.5s alternate;
}


/*
===============================
            About
===============================
 */

.about-right {
    animation: slide-left 2s alternate;
}

/*
===============================
           Sign-in
===============================
 */

.sign-in-right {
    animation: slide-left 1s alternate;
}

/*
===============================
           Sign-up
===============================
 */

.sign-up-left {
    animation: slide-right 1.5s alternate;
}


/*
===============================
            Footer
===============================
 */

.footer {
    color: black;
    font-size: 15px;
    margin: 15px;
}

/*
===============================
       Custom Animations
===============================
 */

@keyframes scroll-up {
    from {
        transform: translateY(-75%);
        overflow: hidden;
    }

    to {
        transform: translateY(0%);
        overflow: hidden;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/*
===============================
         Media Queries
===============================
 */