/*
===============================
       Font Imports
===============================
 */

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../resources/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
===============================
       Page Properties
===============================
 */

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #a9f1fc;
    font-size: 15px;
    font-family: robotoregular, serif;
    animation: scroll-up 1s alternate;
}

.page-wrapper {
    width: 100vw;
}

/*
===============================
      Header properties
===============================
 */

.header {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
}

.logo {
    background-size: cover;
    height: 35px;
    width: 35px;
    margin-inline: 35px;
    margin-bottom: 10px;
}

.account-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.nav {
    margin-inline: auto;
    display: flex;
    gap: 5vw;
}

.jwt-icon {
    margin-top: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.nav-item {
    list-style-type: none;
    font-family: 'roboto_condensedbold', serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.nav-item:hover {
    color: #424242;
}


/*
===============================
    Common Section Properties
===============================
 */

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 875px;
    max-width: 100vw;
    color: black;
    gap: 50px;
}

.section-block {
    margin-top: 250px;
    margin-inline: 10vw;
    max-width: 350px;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    text-shadow: 0 0 100px;
}

.page-text {
    font-size: 18px;
}

.userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.form-input {
    background-color: rgba(0,0,0,25%);
    border: none;
    width: 225px;
    height: 25px;
    border-radius: 5px;
    padding-inline: 10px;
    padding-bottom: 3px;
    font-size: 15px;
    transition: color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.form-input:focus {
    box-shadow: 0 0 15px;
}

.input-label-combi {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.form-button {
    background: transparent;
    border: black solid 2px;
    border-radius: 25px;
    width: 125px;
    height: 35px;
    margin-top: 35px;
    font-family: roboto_condensedbold, serif;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, background-color.15s ease-in-out;
}

.form-button:hover {
    background-color: rgba(0,0,0,25%);
}

.form-button:active {
    transform: scaleX(95%);
}



/*
===============================
            Home
===============================
 */



.home-left {
    animation: slide-right 1s alternate;
}

.home-left > .page-title{
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: black;
}

.home-right {
    animation: slide-left 1s alternate;
}


/*
===============================
            About
===============================
 */

.about-right {
    animation: slide-left 1s alternate;
}

.about-left {
    margin-top: 250px;
    max-width: 190px;
    max-height: 190px;
    animation: slide-right 1s alternate;
}

.about-left > .page-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: -25px;
    font-weight: bold;
}

/*
===============================
           Sign-in
===============================
 */

.sign-in-left {
    animation: slide-right 1s alternate;
}

.sign-in-right {
    margin-top: 300px;
    max-width: 190px;
    max-height: 190px;
    animation: slide-left 1s alternate;
}

.sign-in-right > .page-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: bold;
}

/*
===============================
           Sign-up
===============================
 */

.sign-up-left {
    margin-top: 350px;
    max-width: 190px;
    max-height: 190px;
    animation: slide-right 1s alternate;
}

.sign-up-left > .page-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: -25px;
    font-weight: bold;
}


.sign-up-right {
    animation: slide-left 1s alternate;
}


/*
===============================
            Footer
===============================
 */

.footer {
    color: lightslategray;
    font-size: 15px;
    width: fit-content;
    border: lightslategray solid 1px;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
}

/*
===============================
        Query Selectors
===============================
 */

.display-none {
    display: none;
}

/*
===============================
       Custom Animations
===============================
 */

@keyframes scroll-up {
    from {
        transform: translateY(-3%);
        overflow: hidden;
    }

    to {
        transform: translateY(0%);
        overflow: hidden;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/*
===============================
         Media Queries
===============================
 */

@media (max-width: 800px) {


    .section {
        height: 700px;
    }
    .home-right {
        display: none;
    }
    .about-left {
        display: none;
    }
    .sign-in-right {
        display: none;
    }
    .sign-up-left {
        display: none;
    }
}

@media (max-width: 550px) {
    .logo {
        display: none;
    }
}