/*
===============================
       Font Imports
===============================
 */

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../resources/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
===============================
       Page Properties
===============================
 */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #001220;
    margin: 0;
    overflow-x: hidden;
    animation: scroll-up 2s alternate;
    color: white;
    font-family: roboto_condensedbold, serif;
}

.page-wrapper {
    height: 4664px;
    width: 100vw;
    background-image:url("../resources/background.png");
}

/*
===============================
      Header properties
===============================
 */

.header {
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #33cba1;
    position: fixed;
    width: 100vw;
    height: 260px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    transition: transform 0.25s ease-in-out;
}

.header:hover {
    transform: translateY(35%);
}

.header-pop-out {
    transform: translateY(35%);
}

.nav {
    margin-bottom: 60px;
    cursor: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item {
    text-transform: uppercase;
    cursor: pointer;
    padding-inline: 25px;
    font-size: 36px;
}

.nav-item:hover {
    color: lightgrey;
}


/*
===============================
    Common Section Properties
===============================
 */

.section {
    width: 100vw;
    height: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section-block {
    padding-inline: 25px;
}


.page-title {
    font-size: 75px;
}

.page-text {
    margin-top: -50px;
    font-size: 36px;
}

.userForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 250px;
}

.form-input {
    color: white;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding-inline: 10px;
    font-family: roboto_condensedbold, serif;
    font-size: 20px;
    transition: border-color 0.25s ease-in-out;
}

input:focus {
    border-color: lightskyblue;
}

.form-input {
    background: transparent;
    border: white solid 2px;
}

.input-label {
    font-size: 25px;
}

.input-label-combi {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.form-button {
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-family: roboto_condensedbold, serif;
    font-size: 20px;
    background: transparent;
    border: white solid 2px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}



/*
===============================
            Home
===============================
 */

.home-left {
    animation: slide-right 2.5s alternate;
    margin-bottom: 150px;
}


/*
===============================
            About
===============================
 */

.about-right {
    margin-top: -150px;
    animation: slide-left 2s alternate;
}

.about-right > .page-text {
    font-size: 30px;
}

/*
===============================
           Sign-up
===============================
 */

.sign-up-left {
    animation: slide-right 1.5s alternate;
    margin-top: -400px;
}

.sign-up-label {
    margin-left: 25px;
}

.sign-up-button:active {
    transform: scale(90%);
}
/*
===============================
           Sign-in
===============================
 */

.sign-in-left {
    margin-bottom: -300px;
}

.sign-in-right {
    margin-top: -300px;
    animation: slide-left 1s alternate;
}

.sign-in-button:active {
    transform: scale(90%);
}


/*
===============================
            Footer
===============================
 */

.footer {
    font-size: 20px;
    margin-top: -30px;
    padding-left: 30px;
}

/*
===============================
       Custom Animations
===============================
 */

@keyframes scroll-up {
    from {
        transform: translateY(-75%);
        overflow: hidden;
    }

    to {
        transform: translateY(0%);
        overflow: hidden;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/*
===============================
         Media Queries
===============================
 */

@media (hover: none) {

    .header {
        transform: translateY(35%);
    }
    .header:hover {
        transform: translateY(35%);
    }
    .header-pop-out {
        transform: translateY(35%);
    }
}

@media (max-width: 960px) {

    .section {
        flex-direction: column;
    }

    .form-input {
        width: 275px;
        height: 30px;
    }

    .form-button {
        width: 125px;
        height: 35px;
    }


    .home-left {
        margin-top: -150px;
        margin-bottom: 0;
    }

    .about-left {
        margin-bottom: -150px;
    }

    .sign-up-left {
        margin-bottom: -75px;
    }

    .sign-up-left > .page-text {
        display: none;
    }

    .sign-up-right {
        margin-bottom: -375px;
    }

    .sign-in-right {
        margin-top: -450px
    }

    .sign-in-left {
        margin-top: -250px
    }

    .sign-in-right > .page-text {
        display: none;
    }
}

@media (max-width: 666px) {

    .header {
        height: 240px;
    }
    .nav {
        flex-direction: column;
        margin-right: 25px;
        margin-bottom: 20px;
    }
    .nav-sign-in {
        margin-left: -30px;
    }
    .nav-item {
        font-size: 35px;
    }
}




