@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../resources/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #001220;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.page-wrapper {
    margin-top: -50px;
    height: 4664px;
    background-image:url("../resources/background.png");
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #33cba1;
    position: fixed;
    width: 100vw;
    height: 10vh;
    transition: transform 0.35s ease-in-out;
}

.header:hover {
    transform: translateY(50%);
}

.top-left-title {
    margin-left: 25px;
    color: hsl(220, 100%, 100%);
    font-family: robotoregular, serif;
    font-size: 25px;
}

.header:hover ~ .top-left-title {
   color: black;
}

.nav {
    margin-right: 40vw;
    color: hsl(220, 100%, 100%);
    font-family: robotoregular, serif;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    gap: 50px;
}


.start-home {

}

.home-signup {

}


.signup-signin {

}

.signin-end {

}





@keyframes fullDropdown {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes halfDropdown {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0%);
    }
}

