@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../resources/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #001220;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    animation: scroll-up 2s alternate;
}

.page-wrapper {
    margin-top: -50px;
    height: 4664px;
    background-image:url("../resources/background.png");
}

.header {
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    background-color: #33cba1;
    position: fixed;
    width: 100vw;
    height: 25vh;
    transition: transform 0.35s ease-in-out;
}

.header:hover {
    transform: translateY(50%);
}

.nav {
    margin-bottom: 60px;
    margin-right: 100px;
    color: white;
    cursor: none;
    font-family: roboto_condensedbold, serif;
    list-style-type: none;
    display: flex;
    font-size: 36px;
}

.nav-item {
    text-transform: uppercase;
    cursor: pointer;
    padding-inline: 25px;
}

.nav-item:hover {
    color: gray;
}


.home {
    width: 100vw;
    height: 1175px;
}

.about {
    width: 100vw;
    height: 1175px;
}


.sign-up {
    width: 100vw;
    height: 1175px;
}


.sign-in {
    width: 100vw;
    height: 1100px;
}

.footer {
    color: white;
    font-family: roboto_condensedbold, serif;
    font-size: 20px;
    padding-left: 30px;
}

@keyframes scroll-up {
    from {
        transform: translateY(-75%);
        overflow: hidden;
    }

    to {
        transform: translateY(0%);
        overflow: hidden;
    }
}


