/*
===============================
       Font Imports
===============================
 */

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../resources/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
===============================
       Page Properties
===============================
 */

* {
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    background: #a9f1fc;
    font-size: 15px;
    font-family: robotoregular, serif;
    animation: scroll-up 1s alternate;
}

.page-wrapper {
    width: 100vw;
}

/*
===============================
      Header properties
===============================
 */

.header {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
}

.logo {
    background-size: cover;
    height: 35px;
    width: 35px;
    margin-inline: 35px;
    margin-bottom: 10px;
}


/*
===============================
    Common Section Properties
===============================
 */

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 850px;
    max-width: 100vw;
    color: black;
    gap: 50px;
}

.section-block {
    margin-top: 25vh;
    margin-inline: 10vw;
    max-width: 500px;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    text-shadow: 0 0 100px;
}

.page-text {
    font-size: 18px;
}


/*
===============================
            Home
===============================
 */

.not-found-left {
    animation: slide-right 1s alternate;
}

.not-found-left > .page-title{
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: black;
}

.not-found-right {
    margin-top: 350px;
    max-width: 190px;
    max-height: 190px;
    animation: slide-right 1s alternate;
}

/*
===============================
            Footer
===============================
 */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: lightslategray;
    font-size: 15px;
    width: fit-content;
    border: lightslategray solid 1px;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    animation: scroll-up 1s alternate;
}

/*
===============================
       Custom Animations
===============================
 */

@keyframes scroll-up {
    from {
        transform: translateY(-3%);
        overflow: hidden;
    }

    to {
        transform: translateY(0%);
        overflow: hidden;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/*
===============================
         Media Queries
===============================
 */

@media (max-width: 800px) {
    .not-found-right {
        display: none;
    }
}
